In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# read dataset 
store_df = pd.read_csv('Store.csv')

In [3]:
store_df.head(10)

,Observation,NearMetro,StoreArea,ItemsAvailable,Parking,CouponCategory,StoreSales
0,1,N,1015,910,NP,CAT C,31180
1,2,N,1909,940,NP,CAT C,31940
2,3,N,909,980,OP,CAT C,33739
3,4,Y,1108,970,OP,CAT C,35748
4,5,Y,954,1010,NP,CAT C,38530
5,6,N,1165,990,NP,CAT A,38620
6,7,N,1232,1110,OP,CAT C,39473
7,8,Y,1207,1109,OP,CAT A,39615
8,9,N,1026,1142,OP,CAT C,40174
9,10,N,1286,1128,OP,CAT C,40955

In [4]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Observation     140 non-null    int64
 1   NearMetro       140 non-null    object
 2   StoreArea       140 non-null    int64
 3   ItemsAvailable  140 non-null    int64
 4   Parking         140 non-null    object
 5   CouponCategory  140 non-null    object
 6   StoreSales      140 non-null    int64
dtypes: int64(4), object(3)
memory usage: 7.8+ KB

In [5]:
store_df.describe()

       Observation    StoreArea  ItemsAvailable    StoreSales
count     140.0000   140.000000      140.000000    140.000000
mean       70.5000  1441.857143     1658.771429  66376.742857
std        40.5586   247.389146      332.824112  15693.194915
min         1.0000   896.000000      910.000000  31180.000000
25%        35.7500  1245.750000     1432.250000  54699.750000
50%        70.5000  1444.000000     1706.500000  68053.500000
75%       105.2500  1607.250000     1896.250000  78914.250000
max       140.0000  2026.000000     2374.000000  98100.000000

In [6]:
store_df["CouponCategory"].mode()

0    CAT A
Name: CouponCategory, dtype: object

In [7]:
store_df['CouponCategory'].value_counts()

CAT A    86
CAT C    51
CAT B     3
Name: CouponCategory, dtype: int64

In [8]:
store_df['NearMetro'].value_counts()

N    87
Y    53
Name: NearMetro, dtype: int64

In [ ]:
store_df['Parking'].value_counts()

In [ ]:
#plt.hist(StoreSalesData, bins = 20, color = "green") 
plt.hist(store_df['StoreSales'], bins = 10, color = "green") 

plt.show()

In [ ]:
plt.boxplot(store_df['StoreSales'])
plt.show()

In [ ]:
plt.boxplot(store_df['StoreArea'])
plt.show()

In [ ]:
store_df.boxplot("StoreSales",by='Parking')
plt.show()

In [ ]:
store_df.boxplot("StoreSales",by='CouponCategory')
plt.show()

In [ ]:
store_df.boxplot("StoreSales",by='NearMetro')
plt.show()

In [ ]:
store_df.groupby('Parking').describe().T

In [ ]:
# Boxplots using Seaborn

In [ ]:
import seaborn as sns

In [ ]:
sns.boxplot(x='StoreSales',y='Parking', data=store_df)

In [ ]:
sns.boxplot(x='Parking',y='StoreSales', data=store_df)