In [7]:
# import libraries 

import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [8]:
# read dataset 
iris_df = pd.read_csv('Iris.csv')

In [9]:
# View the head rows 
iris_df.head(10)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa
5            5.4           3.9            1.7           0.4  Iris-setosa
6            4.6           3.4            1.4           0.3  Iris-setosa
7            5.0           3.4            1.5           0.2  Iris-setosa
8            4.4           2.9            1.4           0.2  Iris-setosa
9            4.9           3.1            1.5           0.1  Iris-setosa

In [10]:
# View the last rows
iris_df.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

In [11]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [12]:
# Describe does not show details for Object
iris_df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [13]:
iris_df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [ ]:
sns.scatterplot( x = 'Height', y = 'Weight', hue = 'Size', data = iris_df)
#sns.scatterplot( x = 'Height', y = 'Weight', hue = iris_df.Size.tolist(), data = iris_df)

In [ ]:
#c_map = {'S': 'b', 'L': 'r'}
#plt.scatter( x = iris_df.Height, y = iris_df.Weight, c=[c_map[_] for _ in iris_df.Size])

In [ ]:
# kde - kernel density estimate
sns.pairplot(iris_df, diag_kind='kde', hue = 'Size')

In [ ]:
# Drop the Species (target label) coloumn
X = iris_df.drop(['Size'],axis=1) # axis  = 1 means column operation i.e Assign all columns of  iris_df except 'Size', to X

X.head()

In [ ]:
y = iris_df['Size']
y.head()

In [ ]:
# Import train_test_split from scikit library
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

In [ ]:
X_train.head()

In [ ]:
y_train.head()

In [ ]:
# Check the SHAPE of the DataFrame (no. of rows and no. of columns)
X_train.shape

In [ ]:
y_train.shape

In [ ]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()

In [ ]:

#scaler.fit(X_train)  
X_train = scaler.fit_transform(X_train)  
X_test = scaler.transform(X_test)

In [ ]:
# Fitting K-NN to the Training set
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
#from sklearn.metrics import classification_report, confusion_matrix

classifier = KNeighborsClassifier(n_neighbors = 7)
classifier.fit(X_train, y_train)

In [ ]:
# Predict the values of classified for Test data
y_predict = classifier.predict(X_test)

In [ ]:
# show result 
# PK: This step need NOT be done once you get familiar. Only for initially to demonstrate

result = {"Actual": y_test, "Predicted": y_predict}
pd.DataFrame(result)

In [ ]:
metrics.accuracy_score(y_test, y_predict)