In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
# read file

pima_df = pd.read_csv("pima_diabetes.csv")

In [3]:
pima_df.head(10)

   Preg  Plas  Pres  Skin  Test  Mass   Pedi  Age  Class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
5     5   116    74     0     0  25.6  0.201   30      0
6     3    78    50    32    88  31.0  0.248   26      1
7    10   115     0     0     0  35.3  0.134   29      0
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

In [4]:
pima_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    768 non-null    int64
 2   Pres    768 non-null    int64
 3   Skin    768 non-null    int64
 4   Test    768 non-null    int64
 5   Mass    768 non-null    float64
 6   Pedi    768 non-null    float64
 7   Age     768 non-null    int64
 8   Class   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
pima_df.describe()

,Preg,Plas,Pres,Skin,Test,Mass,Pedi,Age,Class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:

pima_df['Class'].value_counts()

0    500
1    268
Name: Class, dtype: int64

In [7]:
X = pima_df.drop(["Class"], axis=1)
y = pima_df["Class"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=10)

In [9]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()


X_train_scaled = scaler.fit_transform(X_train)  
#X_test_scaled = scaler.transform(X_test)

In [10]:
scaler.mean_

array([  3.79515829, 121.34823091,  69.40782123,  21.10242086,
        85.49534451,  31.96387337,   0.46288641,  33.16201117])

In [11]:
scaler.var_

array([1.11386730e+01, 1.08366086e+03, 3.66360684e+02, 2.45533272e+02,
       1.52288235e+04, 6.10331083e+01, 1.11047695e-01, 1.39297775e+02])

In [12]:
from sklearn.linear_model import LogisticRegression

# Fit the model 
model = LogisticRegression(max_iter=200)
model.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=200)

##### Save the built model

In [13]:
# Write trained model using Pickle
import pickle

filename = 'Logit_model-1.sav'
pickle.dump(model, open(filename, 'wb'))

In [14]:
# Write scaler
filename = 'std_scaler.sav'
pickle.dump(scaler, open(filename, 'wb'))

##### The saved model can be loaded to perform predictions