In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
letters_df = pd.read_csv("letterdata.csv")

In [3]:
letters_df.head(10)   # all fields except the target ("letter") are numeric. These will be scaled

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
5,S,4,11,5,8,3,8,8,6,9,5,6,6,0,8,9,7
6,B,4,2,5,4,4,8,7,6,6,7,6,6,2,8,7,10
7,A,1,1,3,2,1,8,2,2,2,8,2,8,1,6,2,7
8,J,2,2,4,4,2,10,6,2,6,12,4,8,1,6,1,7
9,M,11,15,13,9,7,13,2,6,2,12,1,9,8,1,1,8

In [4]:
letters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   letter  20000 non-null  object
 1   xbox    20000 non-null  int64
 2   ybox    20000 non-null  int64
 3   width   20000 non-null  int64
 4   height  20000 non-null  int64
 5   onpix   20000 non-null  int64
 6   xbar    20000 non-null  int64
 7   ybar    20000 non-null  int64
 8   x2bar   20000 non-null  int64
 9   y2bar   20000 non-null  int64
 10  xybar   20000 non-null  int64
 11  x2ybar  20000 non-null  int64
 12  xy2bar  20000 non-null  int64
 13  xedge   20000 non-null  int64
 14  xedgey  20000 non-null  int64
 15  yedge   20000 non-null  int64
 16  yedgex  20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [5]:
letters_df.describe().transpose()

          count     mean       std  min  25%  50%   75%   max
xbox    20000.0  4.02355  1.913212  0.0  3.0  4.0   5.0  15.0
ybox    20000.0  7.03550  3.304555  0.0  5.0  7.0   9.0  15.0
width   20000.0  5.12185  2.014573  0.0  4.0  5.0   6.0  15.0
height  20000.0  5.37245  2.261390  0.0  4.0  6.0   7.0  15.0
onpix   20000.0  3.50585  2.190458  0.0  2.0  3.0   5.0  15.0
xbar    20000.0  6.89760  2.026035  0.0  6.0  7.0   8.0  15.0
ybar    20000.0  7.50045  2.325354  0.0  6.0  7.0   9.0  15.0
x2bar   20000.0  4.62860  2.699968  0.0  3.0  4.0   6.0  15.0
y2bar   20000.0  5.17865  2.380823  0.0  4.0  5.0   7.0  15.0
xybar   20000.0  8.28205  2.488475  0.0  7.0  8.0  10.0  15.0
x2ybar  20000.0  6.45400  2.631070  0.0  5.0  6.0   8.0  15.0
xy2bar  20000.0  7.92900  2.080619  0.0  7.0  8.0   9.0  15.0
xedge   20000.0  3.04610  2.332541  0.0  1.0  3.0   4.0  15.0
xedgey  20000.0  8.33885  1.546722  0.0  8.0  8.0   9.0  15.0
yedge   20000.0  3.69175  2.567073  0.0  2.0  3.0   5.0  15.0
yedgex  20000.0  7.80120  1.617470  0.0  7.0  8.0   9.0  15.0

In [6]:
letters_df.shape

(20000, 17)

In [ ]:
#X,y = np.array(letters_df)[ :, 1:17], np.array(letters_df.letter)[:]

In [ ]:
X = np.array(letters_df)[ :, 1:17]
y = np.array(letters_df)[:, 0]   
#y = np.array(letters_df.letter)[:]

In [ ]:
X.shape

In [ ]:
X

In [ ]:
y

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [ ]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(X_train)  
X_train = scaler.transform(X_train)  
X_test = scaler.transform(X_test)

In [ ]:
#C is complexity of the model. lower C value creates simple hyper surface while higher C creates complex surface

from sklearn.svm import SVC  
svclassifier = SVC(kernel='linear')

In [ ]:
svclassifier.fit(X_train , y_train)

In [ ]:
#svclassifier.score(X_train, y_train)

In [ ]:
y_pred = svclassifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [ ]:
print(accuracy_score(y_test,y_pred))

In [ ]:
print(confusion_matrix(y_test,y_pred))

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
#Try other kernels

In [ ]:
svclassifier = SVC(kernel='sigmoid')  
svclassifier.fit(X_train, y_train)

In [ ]:
y_pred = svclassifier.predict(X_test)

In [ ]:
accuracy_score(y_test,y_pred)

In [ ]:

print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred))

In [ ]:
# Try Poly

In [ ]:
svclassifier = SVC(kernel='poly', degree=3) 
svclassifier.fit(X_train, y_train)

In [ ]:
y_pred = svclassifier.predict(X_test)

In [ ]:

accuracy_score(y_test,y_pred)

In [ ]:
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred))

In [ ]:
# Try RBF

In [ ]:
svclassifier = SVC(kernel='rbf' )  
svclassifier.fit(X_train, y_train)

In [ ]:
y_pred = svclassifier.predict(X_test)

In [ ]:

accuracy_score(y_test,y_pred)

In [ ]:

print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred))

In [ ]:

print(svclassifier.score(X_train,y_train))
print(svclassifier.score(X_test , y_test))

### Note: This Grid search can take very long time to run hence reduced CV to 3

In [ ]:
#With Hyper Parameters Tuning
from sklearn.model_selection import GridSearchCV

#making the instance
model= SVC(kernel='rbf')  

# specify number of folds for k-fold CV
n_folds = 3

# hyper parameters to build the model on
params = {'C': (0.1,1,10,100)}

#Making models with hyper parameters sets
model1 = GridSearchCV(model, param_grid=params, cv=n_folds, return_train_score=True)
#Learning
model1.fit(X_train, y_train)

In [ ]:
print("Best Hyper Parameters:",model1.best_params_)
print("Best Score:",model1.best_score_)